# PDFのビルドを行うworkflow
name: build

# mainブランチへのpush、またはvから始まるタグに対して実行
# 例えばv1.0.0など
on:
  push:
    branches:
      - main
    tags:
      - "v*"

env:
  # MakefileでDockerを使う機能を無効にする
  USE_DOCKER: no

# 実行されるジョブの定義
jobs:
  # PDFのビルドジョブ
  build_release:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: /workdir
        shell: bash
    container:
      # もし独自のDockerイメージを変更したい場合、ここを変更する
      image: ghcr.io/being24/latex-docker:latest
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Move
        run: |
          shopt -s dotglob
          mv $GITHUB_WORKSPACE/* /workdir/
          shopt -u dotglob

      # 実際のビルドは `bin/build.sh` を実行している
      - name: Build
        run: ./bin/build.sh

      # 生成したPDFをGitHub Actionsにアップロードする
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: pdf
          # アップロードするファイルを変更する場合、以下を変える
          path: /workdir/out/*.pdf

      # Releaseを作成する
      # https://github.com/YOURNAME/YOURREPO/releases に 'Release タグ名' で作成
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: /workdir/out/*.pdf
        if: startsWith(github.ref, 'refs/tags/')
